img {
  width: 280px;
  
}

.App {
  text-align: center;
}
.container {
  display: flex;
  width: 100%;
}
.containerItem {
  flex: 1;
  padding: 5px;
  position: relative;
  /*border: 2px solid blue;*/
}
.containerItem:hover .overlay {
  display: block;
}
.overlay {
  display: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
